/* =========================
    Responsividade do Álbum
    mobile-first
========================= */
@media (min-width: 1024px) {
    .album {
        max-width: 700px;
        margin: 0 auto;
    }
}

/* =========================
   Responsividade das Pessoas
   mobile-first
========================= */
@media (min-width: 768px) {
    .people-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* =========================
   Responsividade das memorias
   mobile-first
========================= */
@media (min-width: 1024px) {
    .memories-list {
        max-width: 900px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .memory {
        width: 100%;
        margin: 0;
    }
}